#image_session {
    background-image: url("https://images.pexels.com/photos/53464/sheraton-palace-hotel-lobby-architecture-san-francisco-53464.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html{
    
    scroll-behavior: smooth;
}

